*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 300px;
  background: transparent;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}

header .logo-site img{
  height: 100px;
}

ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
a{
  font-family: sans-serif;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}

.hero .hero-set{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -40px;
  padding: 50px;
  background-color: white;
}

.hero .hero-set .set-item{

}